@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;

}

html {
    background-color: #d1e3dd;
}

h1, h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

h3 {
    text-align: center;
}

p, li {
    font-size: 1.1em;
}

.upbar {
    background-color: #5762d5;
    padding: 10px;
}

/* Profile & Bio */

.pp {
    width: 300px;
}

.profile{
    display: flex;  
}

.bio {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.bio li {
    font-size: 1.5em;
}

/* About */

.about{
    margin: 0 0 20px 0;
}

.about h3{
    padding: 20px 0;
    font-size: 1.5em;
}

.about p {
    margin: 20px;
    padding: 20px 0;
    text-align: center;
    font-size: 1.3em;
}

/* Edu background */

.edu{
    margin: 20px 0;
}

.edu h3 {
    padding: 20px 0;
    font-size: 1.5em;
}

.list-edu{
    margin: 20px 0;
}

.list-edu li {
    margin: 15px 0;
}


/* Contacts */

.contacts{
    margin: 20px 0;
}

.contacts h3 {
    padding: 20px 0;
    font-size: 1.5em;
}

.list-contacts{
    margin: 20px 0;
}

.list-contacts li {
    margin: 15px 0;
}
